html {
  font-size: 62.5%;
}

.inner {
  width: 84%;
  padding-top: 256px;
  padding-bottom: 70px;
  margin: 0 auto;
}

@media screen and (max-width: 959px) {
  .inner {
    padding-top: 60px;
    width: 89%;
  }
}

.title {
  color: #707070;
  font-size: 2.4rem;
  line-height: 2.4rem;
  padding-bottom: 10px;
  position: relative;
  display: inline-block;
}

.title:after {
  content: "";
  position: absolute;
  top: 30%;
  margin-left: 20px;
  display: inline-block;
  background-color: #707070;
  width: 100px;
  height: 1px;
  line-height: 2.4rem;
}

@media screen and (max-width: 959px) {
  .title {
    margin-bottom: 50px;
    font-size: 1.8rem;
  }
}
